* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html {
  background-color: #E5E5E5;
}
.App {
  text-align: center;
  background-color: #E5E5E5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cellLink, .cellValue {
  text-decoration: none;
  color: #000000;
  position: relative;
  cursor: pointer;
}
.cellLink span, .popup {
  display: none;
  position: absolute;
  bottom: 120%;
  left: -100%;
  background: #2196f3;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
}
.keyHash .cellValue {
  color: #FF0007;
}
.Fulfilled {
  color: #1ACA0B;
}
.Request {
  color: #f5b766;
}
.cellLink:hover, .cellValue:hover {
  color: #2196f3;
}
.cellLink:hover {
  text-decoration: underline;
}
.cellLink:hover span, .cellValue:hover .popup {
  display: inline;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

table {
  /*border-collapse: collapse;*/
  border-spacing:0;
}

tbody th, td {
  min-width: 100px;
  border-bottom: 1px solid #F1F2F6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
